html{
    background-color: #1c3c6e;
}

#sign-in{
    display: block;
    position: absolute;
    left: 44%;
    color: #92c8f7;
}

#container{
    display: block;
    /*background-color: aqua;*/
    position: absolute;
    width: 400px;
    height: 200px;
    margin: 10px auto 10px auto;
    top: 40%;
    left: 38%;
}

input {
    display: block;
    margin: 20px;
    width: 300px;
    height: 70px;
    font-size: 20px;
}

#button {
    position: absolute;
    width: 100px;
    height: 50px;
    margin: auto;
    left: 28%;
    font-size: 20px;
    cursor: pointer;
}

#error {
    color: red;
    position: relative;
    top: 70px;
    left: 130px;
    display: none;
}

#done {
    display: none;
}

#doboz {
    display: none;
    margin: auto;
    width: 400px;
    height: 350px;
    position: center;
}

#gomb {
    display: block;
    margin: auto;
    width: 200px;
    height: 100px;
}

#area {
    margin: auto;
    height: 50px;
    position: absolute;
    left: 42%;
}

#gomb2 {
    margin: auto;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 30%;
    left: 42%;
}

#list {
    display: block;
    width: 150px;
    position: fixed;
    height: 800px;
    background-color: aqua;
    left: 0;
}

#cancel {
    margin: auto;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 30%;
    left: 49%;
}

li {
    cursor: pointer;
    font-size: 24px;
}

#eror {
    color: red;
    position: absolute;
    top: 330px;
    left: 879px;
    display: none;
}

#infobox {
    width: 350px;
    height: 200px;
    display: none;
    background-color: #b3daff;
    position: absolute;
    left: 50%;
}

#X {
    position: absolute;
    right: 0;
    cursor: pointer;
}